<p></p>

<app-connection-control (paramsChanged)="onParamsChanged($event)"></app-connection-control>
<app-fr-select-race
  [raceCount]="BOManager.BO.RaceCount"
  (raceChanged)="onRaceChanged($event)"
  (clearCommand)="onClearRaceCommand($event)"
></app-fr-select-race>
<app-fr-select-timepoint
  [itCount]="BOManager.BO.ITCount"
  (timePointChanged)="onTimePointChanged($event)"
  (clearCommand)="onClearTimepointCommand($event)"
></app-fr-select-timepoint>

<h2>Race{{ race }}.IT{{ timepoint }}.Bib{{ bib }}</h2>

<div class="radio-button-row">
  <mat-radio-group [(ngModel)]="option">
    @for (o of options; track o; let i = $index) {
      <mat-radio-button class="radio-button" [value]="i">{{ o }}</mat-radio-button>
    }
  </mat-radio-group>
</div>

<div class="radio-button-row">
  <mat-radio-group [(ngModel)]="mode">
    <mat-radio-button class="radio-button" *ngFor="let m of modes; let i = index" [value]="i">{{
      m
    }}</mat-radio-button>
  </mat-radio-group>
</div>

<p></p>

<div class="button-row">
  <button mat-raised-button (click)="triggerBtnClick()">trigger</button>
  <button mat-raised-button (click)="clearBtnClick()">clear</button>
  <button mat-raised-button (click)="tableBtnClick()">table</button>
  <button mat-raised-button (click)="jsonBtnClick()">json</button>
</div>

<app-timing-buttons
  #timingTab
  [race]="race"
  [timepoint]="timepoint"
  [auto]="auto"
  (timeCancelled)="onTimeCancelled($event)"
  (timeReceived)="onTimeReceived($event)"
></app-timing-buttons>

<p>{{ resultCounter }}</p>
<p>{{ InputMsgText1 }}</p>
<p>{{ InputMsgText2 }}</p>

<app-fr-table></app-fr-table>

<p></p>

<!-- <p>{{ resultFlash }}</p> -->

<h2>SimpleText</h2>

<pre>{{ simpleText | json }}</pre>
