.timing-button-row {
    margin-top: 10px;    
    margin-right: 4px;
    margin-bottom: 10px;
}

.timing-button-row button {
    margin-left: 10px;
    margin-bottom: 10px;    
}

.button-row {
    margin-bottom: 4px;
}
.button-row button {
    margin-right: 4px;
}

