<table class="fr results">
  <thead>
    <tr>
      @for (cell of resultTableHeader; track cell) {
        <th
          [class.selected]="cell === currentHeaderCell"
          (click)="headerClick(cell)"
          class="{{ cell.c }}"
        >
          {{ cell.v }}{{ cell.s }}
        </th>
      }
    </tr>
  </thead>
  @for (row of resultTableBody; track row; let i = $index) {
    <tr (click)="setClickedRow(i)" [class.highlight]="i === selectedRow">
      @for (cell of row.cols; track cell) {
        <td class="{{ cell.c }}">{{ cell.v }}</td>
      }
    </tr>
  }
</table>
